/* Jason Kellermeyer
WEB 150, ASN6
Business name: KinetiPlants */

/* *************************************
     MULTIPLE PAGES
***************************************/

/* ///////// ALL PAGES ///////// */

/* ===== GENERAL / LAYOUT ====== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(236, 236, 233);
  font-family: 'josefin sans', sans-serif;
  padding-top: 94px;
}

main {
  width: 85%;
  margin: auto;
}

.header-img {
  margin: 0;
  display: block;
  border-radius: 5px;
  width: 90%;
  max-width: 750px;
}


/* ===== TYPOGRAPHY ====== */

h2 {
  font-weight: 200;
  font-size: calc(26px + (70 - 26) * (100vw - 320px) / (1900 - 320));
  margin: 0 0 .7em;
  color: rgb(0, 0, 0);
}

p {
  line-height: 2;
  font-family: 'open sans', arial;
  font-weight: 300;
  font-size: calc(14px + (22 - 14) * (100vw - 320px) / (1900 - 320));
  color: rgb(0, 0, 0);
}


/* ===== HEADER / NAV ====== */

header {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: rgb(236, 236, 233);
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 3vw;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 40px;
  margin-right: 2vw;
}

.logo-container p {
  font-family: 'dm serif display', serif;
  color: rgb(34, 34, 32);
  font-size: calc(22px + (38 - 22) * (100vw - 320px) / (1900 - 320));
  margin: 0;
}

nav {
  width: 90vw;
  max-width: 575px;
  margin-top: .5em;
  display: flex;
  justify-content: space-between;
  background-color: rgb(206, 206, 193);
  border-radius: 3px;
  padding: .5em 7vw;
  align-self: center;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: calc(14px + (28 - 14) * (100vw - 320px) / (1900 - 320));
}

nav a:hover {
  font-weight: 500;
  transform: scale(1.1);
}

.nav-cart-icon {
  display: none;
}


/* ===== FOOTER ====== */

footer {
  height: 90px;
  border-top: solid 2px rgb(207, 203, 200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
  font-family: 'open sans', arial;
  font-weight: 200;
  font-size: calc(10px + (16 - 10) * (100vw - 320px) / (1900 - 320));
  color: rgb(69, 71, 62);

}

.container-social-icons {
  width: 40vw;
  min-width: 300px;
  display: flex;
  justify-content: space-evenly;
  margin: 7px 0;
}

.social-icons {
  color: rgb(0, 0, 0);
  height: calc(25px + (40 - 25) * (100vw - 320px) / (1900 - 320));
}

.social-icons:hover {
  color: rgba(0, 0, 0, .75);
}


/* ///////// CONTACT / PRODUCTS /////////// */

.product .header-img,
.contact .header-img {
  box-shadow: .7vw .7vw 10px rgb(147, 147, 147);
  margin: auto;
}

.product section,
.contact section {
  margin: 0 auto 5em;
}

.product section:first-child,
.contact section:first-child {
  margin-bottom: 2em;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: calc(28px + (80 - 28) * (100vw - 320px) / (1900 - 320));
  font-weight: 200;
  max-width: 745px;
  letter-spacing: .1rem;
  margin: 1.5em auto .25em;
  line-height: 1.25;
}

.subheader {
  font-family: 'josefin sans', arial;
  display: inline-block;
  text-align: center;
  background-color: rgb(190, 190, 175);
  border-radius: 5px;
  letter-spacing: .1rem;
  margin: 0 0 2em;
  font-size: calc(14px + (30 - 14) * (100vw - 320px) / (1900 - 320));
  padding: .7em 1.5em;

}

.page-title {
  text-align: center;
}




/* *************************************
      HOME PAGE
***************************************/

/* ===== MAIN HEADING / BACKGROUND IMG ===== */

.background-img {
  background-image: url("../images/home-background.jpg");
  height: 65vw;
  margin-bottom: 10vw;
  background-size: 100%;
  background-repeat: no-repeat;
}

.home h1 {
  color: rgb(236, 236, 233);
  font-size: calc(30px + (150 - 30) * (100vw - 320px) / (1900 - 320));
  padding-top: 14vw;
  margin: 0 auto;
  max-width: none;
  font-weight: 200;
  text-align: center;
  letter-spacing: .4rem;
  line-height: 1.2;
}


/* ===== MAIN CONTENT ===== */

.welcome-h2-large-screens {
  display: none;
}

.welcome-flex-container {
  display: flex;
  flex-direction: column;
  padding: 3em 2em;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: rgb(190, 190, 175);
}

.home section:first-of-type {
  margin-bottom: 5em;
}

.home .header-img {
  box-shadow: 1vw 1vw 10px rgb(33, 33, 33);
  margin: .5em auto 2em;
}

.welcome-img-cta-container {
  text-align: center;
}

.cta-large-screens,
.cta-mobile {
  background-color: rgb(24, 24, 23);
  padding: .8em 1em;
  border-radius: 5px;
  color: rgb(236, 236, 233);
  text-decoration: none;
  align-self: center;
}

.cta-large-screens:hover,
.cta-mobile:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .8);
}

.cta-large-screens {
  display: none;
}


/* 'mpi' section (more product info) */

.mpi-section {
  background-color: rgb(122, 152, 110);
  border-radius: 8px;
  max-width: 1300px;
  padding: 1em 2em;
  margin: auto;
  margin-bottom: 3em;
}

.mpi-section h3 {
  font-family: 'josefin sans', sans-serif;
  font-weight: 600;
  font-size: calc(24px + (56 - 24) * (100vw - 320px) / (1900 - 320));
  line-height: 1.25;
  text-align: center;
  margin-bottom: .5em;
}


.mpi-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mpi-flex-container img {
  width: 40%;
  max-width: 140px;
  margin-bottom: 1em;
}




/* ****************************
      PRODUCT PAGE
*******************************/

.product .header-img {
  max-width: 700px;
}

.product h1 {
  font-family: 'josefin sans', arial;
}

.product h2 {
  font-family: 'josefin sans', arial;
  font-weight: 200;
  margin-bottom: .6em;
}

.prod-container {
  display: flex;
  flex-direction: column;
}

.prod-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 5em;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  min-width: 255px;
  max-width: 400px;
}

.prod-tile img {
  width: 100%;
  border: 6px solid rgb(255, 255, 255);
  border-bottom: 3px solid rgb(255, 255, 255);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.product h3 {
  font-size: calc(20px + (28 - 20) * (100vw - 320px) / (1900 - 320));
  margin-bottom: -.3em;
  margin-top: .8em;
}

.prod-tile-body-container {
  background-color: rgb(190, 190, 175);
  color: rgb(73, 73, 55);
  padding: 0 1em .5em;
  border: 6px solid rgb(255, 255, 255);
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prod-tile-body-container>p {
  font-size: calc(14px + (20 - 14) * (100vw - 320px) / (1900 - 320));
  line-height: 1.5;
  font-weight: 300;
}

.prod-price-cart-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.prod-price-cart-container>p {
  margin: 0;
}

.prod-price {
  font-family: 'josefin sans', arial;
  font-weight: 600;
  color: rgb(73, 73, 55);
  font-size: calc(28px + (40 - 28) * (100vw - 320px) / (1900 - 320));
  line-height: 1;
}

.prod-price-cart-container a {
  font-family: 'josefin sans', arial;
  font-size: calc(12px + (18 - 12) * (100vw - 320px) / (1900 - 320));
  color: rgb(73, 73, 55);
  background-color: rgb(157, 157, 136);
  text-decoration: none;
  border-radius: 4px;
  padding: 1.25em;
  font-weight: 600;
  margin: 0 0 .35em 2.25em;
}

.prod-price-cart-container a:hover {
  background-color: rgb(73, 73, 55);
  color: rgb(193, 193, 170);
}


/* *************************************
     CONTACT PAGE
***************************************/

.contact .header-img {
  max-width: 700px;
}


/* ===== FORM SECTION  ===== */

hr {
  display: none;
}

.msg-section-body-container p:last-child {
  margin-bottom: 5em;
}

form {
  margin: 0 auto 1em;
  background-color: rgb(190, 190, 175);
  border-radius: 5px;
  padding: 1em;
  max-width: 400px;
  color: rgb(70, 70, 65);
}

form h3 {
  font-size: calc(18px + (38 - 18) * (100vw - 320px) / (1900 - 320));
  text-align: center;
  color: rgb(47, 47, 43);
}

form,
form p,
form button {
  font-size: calc(13px + (20 - 13) * (100vw - 320px) / (1900 - 320));
  font-family: 'josefin sans', arial;
  font-weight: 600;
}

form p {
  margin: 0;
  color: rgb(70, 70, 65);
}

input,
select,
textarea {
  display: block;
  margin: auto;
  margin-bottom: .85em;
  margin-top: .6em;
  width: 90%;
  border: none;
  border-radius: 3px;
  background-color: rgb(227, 228, 217);
  font-size: calc(13px + (18 - 13) * (100vw - 320px) / (1900 - 320));
}

input:not(input[type="radio"]):not(input[type="checkbox"]),
select {
  height: 2.75vw;
  min-height: 20px;
  max-height: 40px;
}

.radio-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .5em auto 1.75em;
}

input[type="radio"] {
  margin: 0
}

textarea {
  height: 10vw;
  min-height: 60px;
}

.subscribe-container {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5em 0 .75em;
}

.subscribe-container input {
  margin: -.09em 0 0;
  height: 15px;
  width: fit-content;
}

div label,
div input {
  display: inline;
}

form button {
  border: none;
  background-color: rgb(47, 47, 43);
  padding: .75em 1.75em;
  border-radius: 3px;
  display: block;
  margin: auto;
  color: rgb(230, 230, 230);
}


/* ===== CONTACT INFO SECTION  ===== */


.contact-info-container {
  text-align: center;
  font-family: 'open sans', arial;
  font-weight: 300;
  border-radius: 9px;
  padding-top: 3em;
}

.contact-info-container h3 {
  font-size: calc(20px + (32 - 20) * (100vw - 320px) / (1900 - 320));
}

.contact-info-container li {
  font-size: calc(12px + (18 - 12) * (100vw - 320px) / (1900 - 320));
}

.contact-info-tile {
  margin-bottom: 3em;
  padding: 1.5em;
  border-radius: 8px;
  background-color: rgb(122, 152, 110);
  width: 40%;
  min-width: 180px;
  margin: 1.5em auto;
}

.fa-map-pin,
.fa-phone,
.fa-envelope {
  height: calc(40px + (55 - 40) * (100vw - 320px) / (1900 - 320));
}

li {
  list-style: none;
  padding: 0;
  line-height: 1.75;
}

ul {
  padding: 0;
}


/* *************************************
      MEDIA QUERIES
***************************************/

/* tablets */
@media screen and (min-width:800px) {

  /* ===== All Pages ===== */
  body {
    font-size: 1.25rem;
    padding-top: 71px;
  }

  main {
    width: 90%;
  }

  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    background-color: transparent;
    width: 47vw;
    max-width: 450px;
    margin: 0;
    margin-right: .75em;
    padding: 0;
    padding-top: .6em;
  }

  .nav-cart-word {
    display: none;
  }

  .nav-cart-icon {
    display: inline;
  }

  footer {
    height: 110px;
  }


  /* ===== Featured / Contact Pages ===== */

  .featured-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    max-width: 1200px;
  }


  .product .header-img,
  .contact .header-img {
    width: 50%;
    margin: 3em 0 0 auto;
  }

  .page-title {
    width: 45%;
    max-width: 500px;
  }

  hr {
    display: block;
    margin-bottom: 4em;
  }


  /* ===== Home Page ===== */

  .logo-container img {
    width: 50px;
  }

  .background-img {
    height: 56vw;
    margin-bottom: 4em;
  }

  .home h1 {
    padding-top: 12vw;
  }

  .welcome-flex-container p {
    width: 90%;
    margin: auto;
  }

  .welcome-img-cta-container img {
    margin: auto;
    margin-bottom: 4vw;
  }

  .welcome-img-cta-container {
    width: 75%;
    margin: auto;
  }

  .mpi-flex-container {
    flex-direction: row;
  }

  .mpi-flex-container img {
    width: 25%;
    max-width: 170px;
    margin-right: 6vw;
    margin-top: -80px;
  }


  /* ===== Product Page ===== */

  .prod-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
  }

  .prod-tile {
    width: 45%;
  }


  /* ===== Contact Page ===== */

  .contact .featured-img-container {
    justify-content: space-evenly;
  }

  .contact h1 {
    margin-bottom: .8em;
  }

  .msg-section-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1250px;
  }

  .msg-section-body-container {
    width: 45%;
  }

  form {
    width: 50%;
    max-width: 600px;
    margin: 0;
    padding: 1.5em 2em;
  }

  input,
  select,
  textarea {
    margin-bottom: 1.5em;
    margin-top: 1em;
  }

  .radio-container {
    margin-bottom: 2em;
  }

  .subscribe-container {
    margin: 1em 0 1.5em;
  }

  .contact-info-container {
    display: flex;
    justify-content: space-evenly;
  }

  .contact-info-tile {
    width: 29%;
    max-width: 300px;
  }
}



/* desktops  */
@media screen and (min-width:1200px) {

  /* ===== All Pages ===== */

  body {
    padding-top: 80px;
    font-size: 1.35rem;
  }

  .logo-container img {
    width: 60px;
  }

  nav {
    width: 50vw;
    max-width: 500px;
  }

  footer {
    height: 125px;
  }


  /* ===== Home Page ===== */

  .home main {
    width: 85%;
  }

  .background-img {
    height: 53vw;
    margin-bottom: 3em;
  }

  .home h1 {
    padding-top: 12vw;
    letter-spacing: .6rem;
  }

  .welcome-h2-mobile {
    display: none;
  }

  .welcome-h2-large-screens {
    display: block;
  }

  .welcome-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2.75em;
    padding-bottom: 1.25em;
  }

  .welcome-flex-container div:nth-of-type(2) {
    width: 40%;
    max-width: 425px;
    padding-left: 1em;
  }

  .welcome-img-cta-container {
    justify-content: flex-start;
    width: 57%;
    margin: 0;
  }

  .welcome-img-cta-container a {
    margin: 1.5em 0;
  }

  .cta-large-screens {
    display: inline-block;
  }

  .cta-mobile {
    display: none;
  }

  .cta {
    padding: 1.1em 1.6em;
  }

  .mpi-flex-container {
    padding: 0 1.5em;
  }

  .mpi-flex-container img {
    width: 20%;
    max-width: 200px;
    margin-top: -3em;
  }



  /* ===== Product Page ===== */

  .prod-tile {
    width: 31%;
    max-width: 420px;
  }

  section:nth-of-type(2) p,
  section:nth-of-type(3) p {
    width: 85%;
  }


  /* ===== Contact Page ===== */

  .contact-info-container {
    max-width: 1200px;
  }
}